@gray: #58585b;
@gray-light: #c8c8ca;
@gray-dark: #28282b;

body {
	color: @gray-light;
	min-height: 100%;
	position: relative;
	padding-bottom: 6em;
	background: url("~/img/background-street.jpg") no-repeat;
}

html {
	height: 100%;
	font-size: 16px;
}

header {
	background: rgba(20,20,20,0.5);
	z-index: 10;

	a {
		color: @gray-light;

		&:hover {
			color: white;
			text-decoration: none;
		}
	}

	.header-flex {
		display: flex;
		justify-content: space-between;
		height: 100%;
		font-size: 1.2em;
	}

	.header-title {
		font-size: 2.5em;
		padding: 0.5em;
	}

	.header-nav {
		list-style: none;
		padding: 1.5em 0 0 0;
		margin: 0;

		li {
			display: inline-flex;
			
			&:hover {
				background: rgba(20,20,20,0.7);
			}
			&.active {
				background: rgba(20,20,20,0.7);
				
				a {
					cursor: auto;
					color: white;
				}
			}

			a {
				padding: 1em;
			}
		}
	}

	.header-auth {
		padding: 1em;
	}
}

section {
	.title {
		font-size: 3em;
		text-align: center;
		color: #c8c8ca;
	}
}

footer {
	bottom: 0;
	width: 100%;
	color: @gray-light;
	font-size: 1em;
	background: rgba(20,20,20,0.5);
	position: absolute;
	bottom: 0;

	.footer-flex {
		display: flex;
		//padding: 2em;
		justify-content: space-between;
		height: 100%;

		>div {
			min-height: 100%;
			vertical-align: middle;
			padding: 2em;
		}
	}
}

.order-block-wrap {
	position: relative;
}

.order-block {
	position: absolute;
	background-color: rgba(40,40,40,0.7);
	width: 100%;
	min-width: 640px;
	//height: 60%;
	z-index: 10;
	display: flex;
	flex-direction: column;
	
	color: white;
	padding: 1em;

	h3 {
		color: white;
		text-align: center;
	}

	label {
		text-align: right;
	}

	.order {
		padding: 2em 1em;
	}

	.additional-toggle {
		cursor: pointer;
		
		&.selected {
			opacity: 0.5;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	.btn-create {
		background: rgba(255, 106, 0, 0.92);
		border: none;
		width: 25%;
		color: white;
		border-radius: 0px;
		height: 3em;
		font-size: 1.3em;
	}
}

.collapser {
	font-size: 1.2em;
	color: #ddd;
	float: right;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

label {
	font-size: 1.3em;
	color: white;
	line-height: 1.2;
	font-weight: 300;
	margin-top: 6px;
}

input[type="text"],
input[type="password"] {
	border-radius: 0px;
	padding: 1em;
	border: none;
	font-size: 1.1em;
}

select,
select.form-control {
	border-radius: 0px;
	//padding: 1em;
	border: none;
}

input[type="checkbox"] {
	background: white;
	border: solid white;
	border-width: 6px 0px 4px 5px;
	border-radius: 4px;
	width: 20px;
	height: 20px;
}

input[type="radio"] {
	background: white;
	border: solid white;
	border-width: 7px 4px 4px 4px;
	border-radius: 13px;
	width: 20px;
	height: 20px;
}

.btn-custom {
	width: 300px;
	height: 55px;
	color: #eee;
	font-size: 1.4em;
	border: 1px solid rgba(200,200,200,0.7);
	background: none;
	cursor: pointer;

	&:hover {
		background: rgba(200,200,200,0.7);
		color: #444;
	}
}

.block-back {
	padding: 5em 1em 3em 1em;
	background: rgba(20,20,20,0.5);
	//margin: 2em 0;
	width: 100%;

	&.auth {
		a {
			color: #eee;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			font-size: 1.5em;
			opacity: 0.7;
		}
	}
}

.centered {
	text-align: center;
	&.title {
		padding: 0.5em;
	}
}

.history-list {
	list-style: none;
	padding: 0;
	margin: 0;

	> li {
		padding: 1em;
		background: rgba(20,20,20,0.5);
		border-bottom: 1px solid #ddd;
		margin: 0.3em;

		.history-raw {
			padding: 0.3em;
		}
	}
}