@gray: #58585b;
@gray-light: #c8c8ca;
@gray-dark: #28282b;

body {
	color: @gray-light;
	min-height: 100%;
	position: relative;
	padding-bottom: 6em;
	background: url("~/img/background-street.jpg") no-repeat;
}

html {
	height: 100%;
	font-size: 16px;
}

header {
	background: rgba(20,20,20,0.5);

	a {
		color: @gray-light;

		&:hover {
			color: white;
			text-decoration: none;
		}
	}

	.header-flex {
		display: flex;
		justify-content: space-between;
		height: 100%;
		font-size: 1.2em;
	}

	.header-title {
		font-size: 2.5em;
		padding: 0.5em;
	}

	.header-nav {
		list-style: none;
		padding: 1.5em 0 0 0;
		margin: 0;

		li {
			display: inline-flex;
			
			&:hover {
				background: rgba(20,20,20,0.7);
			}
			&.active {
				background: rgba(20,20,20,0.7);
				
				a {
					cursor: auto;
					color: white;
				}
			}

			a {
				padding: 1em;
			}
		}
	}

	.header-auth {
		padding: 1em;
	}
}

section {
	.title {
		font-size: 3em;
		text-align: center;
		color: #c8c8ca;
	}
}

footer {
	bottom: 0;
	width: 100%;
	color: @gray-light;
	font-size: 1em;
	background: rgba(20,20,20,0.5);
	position: absolute;
	bottom: 0;

	.footer-flex {
		display: flex;
		//padding: 2em;
		justify-content: space-between;
		height: 100%;

		>div {
			min-height: 100%;
			vertical-align: middle;
			padding: 2em;
		}
	}
}

.order-block {
	position: fixed;
	background-color: rgba(40,40,40,0.7);
	width: 40%;
	min-width: 640px;
	//height: 300px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	padding: 1em;

	h3 {
		color: white;
	}

	.data-raw {
		width: 90%;
		//background: rgba(250,250,250,0.5);
		padding: 10px;
		margin: 5px;
		text-align: right;

		label {
			font-size: 1.3em;
			width: 25%;
			color: white;
			padding: 0 10px;
			line-height: 1.2;
		}

		input[type="text"] {
			width: 70%;
			height: 38px;
			border-radius: 5px;
			padding: 5px;
			border: none;
		}

		input[type="checkbox"] {
			background: white;
			border: solid white;
			border-width: 6px 0px 4px 5px;
			border-radius: 4px;
		}

		input[type="radio"] {
			background: white;
			border: solid white;
			border-width: 7px 4px 4px 4px;
			border-radius: 13px;
		}
	}

	.btn-create {
		background: rgba(255, 106, 0, 0.92);
		border: none;
		width: 30%;
		color: white;
		border-radius: 5px;
		height: 40px;
		font-size: 1.3em;
	}
}
