
<script type="text/x-jsrender" class="jHomeCarsLayoutTmpl">
	<div>
		<h5>Active cars:</h5>
		<ul class="jContent"></ul>
	</div>
</script>

<script type="text/x-jsrender" class="jHomeCarsListItemTmpl">
	<li>
		<a href="/car/{{>id}}">{{>name}}</a>
	</li>
</script>