<script type="text/x-jsrender" class="jCarsLayoutTmpl">
	<div>
		<div>
			<span class="jShowForm glyphicon glyphicon-plus" area-hidden="true"></span>
			<span class="jHideForm glyphicon glyphicon-minus" area-hidden="true" style="display: none"></span>
			<div class="panel panel-info jForm" style="display: none">
				<div class="panel-heading">Create new car</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="modelId">Бренд</label>
							<select class="jBrand" name="carBrandId">
								{{for getCarBrands()}}
								<option value="{{>id}}">{{>ru.name}}</option>
								{{/for}}
							</select>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="modelId">Модель авто</label>
							<select class="jModel" name="carModelId">
								{{for getCarModels()}}
								<option data-id="{{>id}}" data-brandid="{{>carBrandId}}" value="{{>id}}">{{>ru.name}}</option>
								{{/for}}
							</select>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="number">Номер</label>
							<input type="text" class="jNumber" name="number" />
						</div>

						<div class="form-group">
							<input type="button" class="jCreate btn btn-info" value="Create" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<ul class="jContent list_cars"></ul>
	</div>
</script>

<script type="text/x-jsrender" class="jCarListItemTmpl">
	<li class="car_item">
		<div class="jItem">
			<div class="delete_popup jDeletePopup">
				<div class="delete_confirm jDeleteConfirm">
					<span class="delete_confirm_text">Удалить?</span>
				</div>
			</div>
			<a href="/admin/cars/{{>id}}/">
				<img src="/upload/cars/" />
				{{>carModel.carBrand.ru.name}} {{>carModel.ru.name}}<br /> <b>{{>number}}</b>
			</a>
			<label class="jDelete hide"><i class="glyphicon glyphicon-remove"></i></label>
		</div>
	</li>
</script>

<script type="text/x-jsrender" class="jCarEmptyListTmpl">
	<p>Пока нет автомобилей в базе данных</p>
</script>
