<script type="text/x-jsrender" class="jAddressEmptyTmpl">
	<div>
		<span>Add address please</span>
	</div>
</script>


<script type="text/x-jsrender" class="jAddressItemTmpl">
	<div>
		Address
		<div>
			<label for="address">Адрес {{>num}}</label>
			<input type="text" name="address" class="jStreet" />
		</div>
	</div>
</script>


<script type="text/x-jsrender" class="jAddressesTmpl">
	<div>
		<div class="jAddresses"></div>
	</div>
</script>
