<script type="text/x-jsrender" class="jOrderComplitedTmpl">
	<div>
		<h2>
			<span>Заказ успешно создан</span>
			<br />
			<span>Ожидайте автомобиль в течение {{>Time}} минут</span>
			<br />
			<span>На ваш телефон придет сообщение с номером и описанием авто</span>
		</h2>
		
		<h4>
			Подробности заказа:
		</h4>
		<ul>
			<li>Номер телефона: {{>Phone}}</li>
			<li>{{>Phone}}</li>
			<li>{{>Phone}}</li>
			<li>{{>Phone}}</li>
			<li>{{>Phone}}</li>
		</ul>
	</div>
</script>
